@font-face {
  font-family: 'Montserrat';
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;   
}

h1 {
  font-family: 'Railway';
  color: #fff;
  font-size: 52px;
  font-weight: 400;
  
}

h2 {
  font-family: 'Railway';
  color: #555;
  font-size: 30px;
  font-weight: 400;
  margin: 0;

}

h3 {
  font-family: 'Railway';
  font-size: 22px;
  font-weight: 400;
  color: #555; 
}

p {
  font-family: 'Montserrat';
  text-align: center;
  color: #8c8c8c;
  font-size: 16px;
  margin: 0;
}

.body_container {  
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 1024px;
  margin: 0 auto;
  background-image: url(../img/header_background.png);
  background-repeat: no-repeat;
  
}

.header_top {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 62px;

}

.header_logo {
  display: flex;
  align-items: center;
  
}

.logo {
  fill: #fff;

}

.logo:hover{
  fill: #998675;

  }

.logo_txt {  
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
}

.nav {
  padding: 0 60px 0 170px;  
   
}

.nav_item {
  text-decoration: none;
  padding-left: 28px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #ffffff;
}

.nav_item:hover {
  color: #998675;
}

.header_user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.shopping_cart {
  fill: #fff;
  padding-right: 20px;
  
}

.shopping_cart:hover {
  fill: #998675;
}

input[type="search"] {
  width: 25px;
  height: 25px;
  outline: none;
  background-image: url(../img/search_icon.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  
  }
  
input[type="search"]:focus {
  width: 150px;
  transition: width 1s ease-out;
  background-position: right;
  border: 1px solid #998675;
  color: #fff;
  }



.slider_content {
  max-width: 1650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 300px;
  
}

.arrow_img {
  fill: #998675;
}

.arrow_img:hover {
  fill: #fff;
}

.slider_text_block {
  max-width: 625px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 340px;

}


.slider_top_text {
  font-weight: 500;
  font-size: 36px;
  margin: 0 auto;
  color: #fff;

}

.slider_title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 56px;
  margin: 0 auto;

}

.slider_bottom_text {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 52px;
  color: #fff;

}

.header_btn {
    -moz-box-shadow: 0px 2px 0px 0px #695b52;
  -webkit-box-shadow: 0px 2px 0px 0px #695b52;
  box-shadow: 0px 2px 0px 0px #695b52;
  background-color:#998765;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  text-indent:0;
  border:1px solid #b4a696;
  display:inline-block;
  color:#ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  width:170px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #4d3534;
  }.header_btn:hover {
background-color:#b4a696;
  }.header_btn:active {
position:relative;
top:1px;
  }

.pagination {
  max-width: 150px;   
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 300px;


  }
  
.pagination_item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #989695;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 10px;

  }
  
.pagination_item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);

  }

.main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  }

.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  }

.features {
  max-width: 100%;
  min-height: 370px;
  display: flex;
  justify-content: center;

  }

.features_list_container {
  max-width: 1240px;
  /*margin: 60px 350px;*/
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

.features_list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: #555555;
  margin: 0 10px;

 }

.features_list_item:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color:#f1eee9;
  margin-top: 30px;

 }

 .features_list_item:hover svg {
   fill: #c9b59d;

 }

 .features_list_item:hover .features_title {
   color: #c9b59d;
 }

 .features_list_item:hover:after {
   background-color: #c9b59d;
 }

 .ideas {
  max-width: 100%;
  min-height: 700px;
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

 }

 .ideas_text_container {
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
 
 }

 .ideas_title {
  font-size: 30px;
  font-weight: 400;
 }

 .ideas_text {
  font-family: 'Montserrat'; 
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;

 }

 .ideas_multi_img_list {
   max-width: 1250px;
   min-height: 480px;
   position: relative;   
   padding: 0;
   top: 92px;

 }

.ideas_multi_list_img {
  position: absolute;
  z-index: 0;
  list-style: none;
  left: -390px;

}

.ideas_multi_list_img:nth-child(2) {  
  z-index: 1;

}

.ideas_multi_list_img:first-child {
  left: -610px;
  top: 80px;
  
  
}

.ideas_multi_list_img:last-child {
  left: -160px;
  top: 80px; 
  
}

.ideas_multi_list_img:hover {
  z-index: 2;
  
}

.purchase {
  max-width: 100%;
  min-height: 150px;
  background-color:#f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;

}

.purchase_text_container {
  display: flex;
  flex-direction: column;


}

.purchase_title_span {
  font-size: 28px;
  font-weight: 400;
  color: #c7b299;;
}

.purchase_title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
}

.purchase_text {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.purchase_btn {
  margin-left: 0;
  -moz-box-shadow: 0px 2px 0px 0px #695b52;
  -webkit-box-shadow: 0px 2px 0px 0px #695b52;
  box-shadow: 0px 2px 0px 0px #695b52;
  background-color:#998765;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  text-indent:0;
  border:1px solid #b4a696;
  display:inline-block;
  color:#ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  width:170px;
  height: 50px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #4d3534;
}.purchase_btn:hover {
  background-color:#b4a696;
}.purchase_btn:active {
  position:relative;
  top:1px;
}

.latest_projects {
  max-width: 100%;
  min-height: 1160px;
  background-color: #fff;
  
  

}

.projects_text_container {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 30px;
  
}

.projects_title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;

}

.projects_text {
  font-size: 16px;
  font-weight: 300;

}

.projects_btn_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.projects_btn_list_item {
  list-style: none;
  text-decoration: none;
  
}

.projects_btn {
  text-decoration: none;
  width: 135px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;;
  background-color: #fff;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 14px;
  color: #8c8c8c;
  margin: 10px;
  
}

.projects_btn:hover {
  background-color: #998675;
  color: #fff;
}

.projects_btn:focus {
  background-color: #998675;
  color: #fff;
}

.articles {
  max-width: 1250px;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 0 auto;

} 

.article_preview {
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
  

}

.article_preview_img {
  width: 370px;
  height: 237px;
}

.article_preview_text_container {
  margin-top: 28px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.preview_title {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.preview_text {
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;

}

.article_preview:hover {
  background-color: #362f2d;
}

.article_preview:hover .article_preview_img {
  filter: opacity(25%);
}

.article_preview_link_a {
  display: none;
  fill: #fff;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  left: 40%;
  right: 0;
  bottom: 0;

}

 .article_preview_see_a {
  display: none;
  fill: #fff;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  left: 55%;
  right: 0;
  bottom: 0;

}

.article_preview:hover .article_preview_link_a {
  display: block;

}

.article_preview:hover .article_preview_see_a {
  display: block;

}

.article_preview_link_a:hover {
  fill: #c7b299;

}

.article_preview_see_a:hover {
  fill: #c7b299;

 }

 .article_preview:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: 217px;
  left: 19px;	

 }

 .article_preview:hover:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #362f2d;
  position: absolute;
  top: 217px;
  left: 19px;	
  

}

.video_wrapper {
  max-width: 1920px;
  min-height: 705px;
  position: relative;
  color: #fff;
  display: flex;
}


.video_item {
  width: 100%;
  height: 100v;
  object-fit: cover;

}

.video_text_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 25%;

}


.video_text_title {
  font-family: Raleway;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;

}

.video_text {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
  color: #fff;

}

.video_play_btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  outline: 0;

}

.video_play_btn--hide {
  display: none;
}

.video_play_btn:hover {
  background-color: #000000;
  opacity: 0.2;
  
}

.play_img {
  fill: #ffffff;

}

