@font-face {
  font-family: 'Montserrat';
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;   
}

@font-face {
  font-family: 'Raleway';
  src: url(../Fonts/Raleway/static/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;   
}


h2 {
  font-family: 'Railway';
  color: #555;
  font-size: 30px;
  font-weight: 400;
  margin: 0;

}

h3 {
  font-family: 'Railway';
  font-size: 22px;
  font-weight: 400;
  color: #555; 
}

p {
  font-family: 'Montserrat';
  text-align: center;
  color: #8c8c8c;
  font-size: 16px;
  margin: 0;
}

body {  
  width: 1920px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;

}

.header {
  width: 100%;
  height: 1024px;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  box-sizing: border-box;
}

.header_slider {
  height: 100%;
  width: 100%;
  background-image: url(../img/header_background.png);
  background-repeat: no-repeat;
}

.header_top {
  min-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 370px;
  padding-top: 60px;
}

.header_logo {
  display: flex;
  align-items: center;
  
}

.logo {
  fill: #fff;
}

.logo:hover{
  fill: #998675;
  }

.logo_txt {  
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 60px;  
}

.nav_item {
  text-decoration: none;
  padding-left: 28px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #ffffff;
}

.nav_item:hover {
  color: #998675;
}

.header_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.shopping_cart{
  margin-right: 28px;
  fill: #fff
  
}

.shopping_cart:hover {
  fill: #998675;
}

input[type="search"] {
  width: 25px;
  height: 25px;
  outline: none;
  background-image: url(../img/search_icon.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  }
  
input[type="search"]:focus {
  width: 150px;
  transition: width 1s ease-out;
  background-position: right;
  border: 1px solid #998675;
  }


.header_main_content {
  min-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 275px;
  margin-bottom: 275px;
  justify-content: center;
  align-items: center;

}

.arrow_img {
  fill: #998675;
}

.arrow_img:hover {
  fill: #fff;
}

.slider_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 655px;
  margin: 0 450px;
  text-align: center;
  }

.slider_top_text {
  font-weight: 500;
  font-size: 36px;
  margin: 0 auto;
  color: #fff;

  }

.slider_title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 56px;
  margin: 0 auto;

  }

.slider_bottom_text {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 52px;
  color: #fff;

}

.header_btn {

  -moz-box-shadow: 0px 2px 0px 0px #695b52;
  -webkit-box-shadow: 0px 2px 0px 0px #695b52;
  box-shadow: 0px 2px 0px 0px #695b52;
  background-color:#998765;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  text-indent:0;
  border:1px solid #b4a696;
  display:inline-block;
  color:#ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  width:170px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #4d3534;
  }.header_btn:hover {
background-color:#b4a696;
  }.header_btn:active {
position:relative;
top:1px;
  }

.pagination {
  margin: 15px auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  }
  
.pagination_item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #989695;
  border-radius: 50%;
  border: 2px solid transparent;
  }
  
.pagination_item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
  }

.main {
  width: 100%;
  margin: 0;
  padding: 0;

  }

.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  }

.features {
  width: 100%;
  min-height: 370px;

  }

.features_list_container {
  max-width: 100%;
  margin: 60px 350px;
  padding: 0;
  list-style: none;
  display: flex;
  
}

.features_list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: #555555;
 }

.features_list_item:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color:#f1eee9;
  margin-top: 30px;

 }

 .features_list_item:hover svg {
   fill: #c9b59d;

 }

 .features_list_item:hover .features_title {
   color: #c9b59d;
 }

 .features_list_item:hover:after {
   background-color: #c9b59d;
 }

 .ideas_container {
  width: 100%;
  background-color: #fbfaf8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

 }

 /*.ideas_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

 }
 */

 .ideas_text_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 70px 600px 40px;  
 
 }

 .ideas_title {
  font-size: 30px;
  font-weight: 400;
 }

 .ideas_text {
  font-family: 'Montserrat'; 
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;

 }

.ideas_multi_img {
  min-height: 500px;
  background-image: url(../img/ideas-center.png),
url(../img/ideas-left.png),
url(../img/ideas-right.png);

  background-size: 770px 483px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
  margin: 0 350px;

}

.purchase {
  width: 100%;
  min-height: 150px;
  background-color:#f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.purchase_text_container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 375px;
  margin-bottom: 50px;

}

.purchase_title_span {
  font-size: 28px;
  font-weight: 400;
  color: #c7b299;;
}

.purchase_title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
}

.purchase_text {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.purchase_btn {
  margin-top: 50px;
  margin-right: 375px;
  margin-bottom: 50px;
  -moz-box-shadow: 0px 2px 0px 0px #695b52;
  -webkit-box-shadow: 0px 2px 0px 0px #695b52;
  box-shadow: 0px 2px 0px 0px #695b52;
  background-color:#998765;
  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;
  text-indent:0;
  border:1px solid #b4a696;
  display:inline-block;
  color:#ffffff;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  width:170px;
  height: 50px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #4d3534;
}.purchase_btn:hover {
  background-color:#b4a696;
}.purchase_btn:active {
  position:relative;
  top:1px;
}

.latest_projects {
  width: 100%;
  height: 1160px;
  background-color: #fff;

}

.projects_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px 600px 40px;
}

.projects_title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;

}

.projects_text {
  font-size: 16px;
  font-weight: 300;

}

.projects_btn_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.projects_btn_list_item {
  list-style: none;
  text-decoration: none;
  
}

.projects_btn {
  text-decoration: none;
  width: 135px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;;
  background-color: #fff;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 14px;
  color: #8c8c8c;
  margin: 10px;
  
}

.projects_btn:hover {
  background-color: #998675;
  color: #fff;
}

.projects_btn:focus {
  background-color: #998675;
  color: #fff;
}

.articles {
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 350px;

} 

.article_preview {
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
  margin-left: 30px;

}

.article_preview_img {
  width: 370px;
  height: 237px;
}

.article_preview_text_container {
  margin-top: 28px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.preview_title {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.preview_text {
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;

}

.article_preview:hover {
  background-color: #362f2d;
}

.article_preview:hover .article_preview_img {
  filter: opacity(25%);
}

.article_preview_link_a {
  display: none;
  fill: #fff;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  left: 40%;
  right: 0;
  bottom: 0;

}

 .article_preview_see_a {
  display: none;
  fill: #fff;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  left: 55%;
  right: 0;
  bottom: 0;

}

.article_preview:hover .article_preview_link_a {
  display: block;

}

.article_preview:hover .article_preview_see_a {
  display: block;

}

.article_preview_link_a:hover {
  fill: #c7b299;

}

.article_preview_see_a:hover {
  fill: #c7b299;

 }

 .article_preview:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: 517px;
  left: 19px;

 }

 .article_preview_text_container:hover::before {
  content: "";
  border: 10px solid transparent;
  position: absolute;
  top: 217px;
  left: 19px;	
  border-bottom: 10px solid #362f2d;

}


 
